---
---

//
// IMPORTS
//

//@import "reset";

@import "variables";
@import "typography";
@import "highlights";
@import "svg-icons";

/**************/
/* BASE RULES */
/**************/


body {
  background: repeating-linear-gradient(
      0deg,
      rgb(237, 237, 237) 0px,
      rgb(237, 237, 237) 1px,
      transparent 1px,
      transparent 71px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(237, 237, 237) 0px,
      rgb(237, 237, 237) 1px,
      transparent 1px,
      transparent 71px
    ),
    linear-gradient(90deg, hsl(122, 0%, 100%), hsl(122, 0%, 100%));

  color: $darkGray;
}

.date {
  font-style: italic;
  color: $gray;
  margin-top: 3rem;
}

// // Specify the color of the selection
// ::-moz-selection {
//   color: $black;
//   background: $lightGray;
// }
// ::selection {
//   color: $black;
//   background: $lightGray;
// }

// /*********************/
// /* LAYOUT / SECTIONS */
// /*********************/

// //
// // hero
// //

.main-title {
  font-family: $font-sansserif-bold;
  color: $blue;
}



.post {
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .post h1 {
    background: -webkit-linear-gradient(left, #3a25ff, #01c6f0);
    background-clip: border-box;
  }

  .entry p{
    font-size: 1.2rem;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.post-title__link {
  &:hover {
    text-decoration: none;
  }
}
.post-title {
  @include gradient-blue;
  font-weight: 700;
  min-height: 4rem;
}

.social {
  display: block;
}

.social-icon {
  padding: 1rem;
}

.followme {
  font-family: $font-sansserif-bold;
}

.wrapper-footer {
  margin-top: 5rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
}
