//
// VARIABLES
//

//font-family
$font-sansserif-light: "Space Grotesk light", arial, sans-serif;
$font-sansserif-regular: "Space Grotesk regular", arial, sans-serif;
$font-sansserif-bold: "Space Grotesk bold", arial, sans-serif;
$font-mono-regular: "space_monoregular", monospace;
$font-mono-bold: "space_monobold", monospace;

// Colors
$blue: #3a25ff;
@mixin gradient-blue {
  background: -webkit-linear-gradient(left, #01c6f0, #115197);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
